<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
            GAME INSTRUCTIONS:
        </p>
        <p>
           For each trial, we have matched together one choice from someone who shared 1 point and one choice from someone who did not share anything. In other words, for each trial, one person (and only one person) out of the two will share with you. You should try to choose the person you think is more likely to share on each trial.
        </p>

        <p>
            While some people shared more frequently than others, no one shared all the time. This means you will sometimes be wrong in the person you pick, even if you strongly felt they are more likely to share. This might be frustrating at times. Just do your best at picking whoever you think has the greatest chance of sharing a point.
        </p>
        <p>
           On each trial, you will see two faces on the screen and pick who to play with. You can make these choices using the [F] and [J] buttons on the keyboard.  
          
        </p>
        <p>
            Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
