<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
          GAME INSTRUCTIONS:
        </p>
        <p>
          You will see two face photos at a time, selected from the eight past players that you have been matched with. Your job is to choose who to play with on each trial. If the player you choose decides to share point with you, you will get 1 point for that trial. If the person you choose does not decide to share any points (keeping all 2 points for themselves), you will get 0 point for that trial.
        </p>

        <p>
           Do your best to earn as many points as possible! At the end of the study, you will be able to exchange these points for money, just as past players did. The more accurately you choose people and earn points, the larger the monetary bonus you will receive.
        </p>

        <p>
           Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
