<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        
        <p>
           On each trial, you will be given 2 seconds to respond. You must respond in that time for your answer to be recorded and to potentially earn a point. If you do not respond in time, the words "Too Slow" will appear on the screen. Try to make your choices as quickly and accurately as possible. If you are not sure which person to choose, just go with your gut instinct.
        </p>
        <p>
           The task may seem difficult, but that is okay! Just do your best to select the person who will share during each trial. The more points you earn, the larger the monetary bonus you will receive!
          
        </p>

        <p>
            Again, press [F] to choose the person on the left side and [J] to choose the person on the right side.
        </p>
        <p>
            Click [BEGIN EXPERIMENT] to continue.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
