<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
           Again, in this game, eight past participants made a series of choices to either keep 2 points for themselves or split their points with a future participant (in other words, they decided to take 1 point for themselves and leave 1 point for you). You will now be able to learn about the eight past players, just as if you are playing an interactive game with them now, even though their choices were pre-recorded. Across many research studies, it has been shown that some people share quite often whereas other people do not share very much at all. This type of task is commonly used in psychology and economics to measure sharing behavior.
        </p>
                <p>
           Click [next] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
