<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">


        <p>
           At the end of the study, we took photographs of each one of the participants. By doing so, we can show you what they looked like, which will help you learn about them. To take the photographs, we set up a small photo booth and equated as many aspects as possible, such as lighting and attire. Also, to account for potential differences due to race, ethnicity, sex, and/or gender, we recruited participants with similar demographic backgrounds. These are standard procedures in this kind of interactive game.
        </p>

        <p>
            At the end of the experiment, you may be asked to have your photo taken, just as past participants were asked. However, you may decline this option, and your decision will not impact your scores or credit earned.
        </p>

        <p>
            Click [NEXT] to continue.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
