<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">


        <p>
           We are interested in how people learn about others. In this study, you will play an interactive game with four past participants from the New York City area. They were each given an allotment of points, which could be exchanged for money at the end of their experiment. Then they made a series of choices about whether to keep the points for themselves or to share with a future player. You will learn more about these choices in just a moment. </p>

        </p>

        <p>
            Click [NEXT] to continue.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
