<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
          Importantly, we had to make one change to the exchange rate (i.e., how much each point is worth in dollars). Unfortunately, we can only give one dollar compensation per 100 points you earned. Due to budget constraint, we can only give considerably lower amount of compensation compared to past participants. With the new exchange rate, for example, you will receive 1 dollar if you earn 100 points, and 2 dollars if you earn 260 points. Press [SPACE] to continue.
       
       </p>
        <p>
            Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
