<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
           You will now complete the next phase of the task. You will continue to make the same type of choices as before, but with two important differences.
        </p>

        <p>
            First, you will see new combinations of the other players to choose between. Just try to pick the person that you think is more likely to share with you, just like you did before.
          
        </p>

        <p>
           Second, you will NOT receive feedback about whether your choices were correct or incorrect. However, you will still earn points for accurate choices (choosing the player who shares with you during that trial), so just follow your gut instincts about who to choose. At the end of the experiment, you will be informed about how much you won today.
        </p>

        <p>
            Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
