<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
        GAME INSTRUCTIONS: You will see two face photos at a time, selected from the four past players that you have been matched with. Your job is to choose who to play with on each trial. After you decide, you will see two pieces of information: 1) how much they chose to share with you on each round (labeled "Shared"), and 2) the total pool of points available to the past participants on that trial (labeled "Out of"). At the end of the study, you will be able to exchange these points for money, just as past players did. The more accurately you choose people and earn points, the larger the monetary bonus you will receive. Press [SPACE] to continue. </p>
       
        <p>
           Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
